body {
  margin: 0;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

canvas {
  display: block;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.5rem;
}
