*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    color:#aaa;
    background: #f4f4f4;
}
a{
    color: #5a5a5a;
}
a:hover{
    color: #ccc;
    text-decoration: none;

}
h2{
    text-transform: uppercase;
}

header{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #ddd 1px solid;
    overflow: auto;
    line-height: 50px;
}
header img{ 
    width: 50px;
    border: 1px solid #c4c4c4;
    border-radius: 90%;
    padding: 1px;
    margin-right: 10px;
    max-height: 49px;
}

.name{
    color:#5a5a5a;
    text-transform: uppercase;
    cursor:default;
    font-size: 18px;
}

.project{
    object-fit: cover;
    object-position: left;
}

.about {
    padding: 40px 90px 30px;
    text-align: center;

}
.about h2{
    color:#444444;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    width: 100%;
    text-transform: uppercase;
}
.about p{ 
    text-align: justify;    
}
.skills {
    padding: 40px 90px 30px;
    text-align: center;
}
.skills h2{
    color:#444444;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    width: 100%;
    text-transform: uppercase;
}
.skills p{ 
    text-align: justify;
}
.skills ul li {
    list-style: none;
    text-align: left;

}
.projects {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.projects h2{
    color:#444444;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    width: 100%;
    text-transform: uppercase;
}
.pro{
    padding: 40px 30px 30px;
    text-align: center;

    margin-bottom: 20px;
}

.pro:hover{
   

}
.wrapper{
    max-height: 250px;
    overflow: hidden;
    transition: all 1s;

}
.wrapper img{
    width: 100%;
}
.wrapper:hover{
    box-shadow: 1px 1px 50px  #5a5a5a;
}
.contact{
    text-align: right;
    float: right;
}
.top-bar{
    background-color: #e6e6e6;
    color: #666;
    font-size: 13px;
    padding: 8px;
    line-height: 31px;
}
.top-bar .social{
    float: left;
}
.top-bar .social .fab{
    color: #666;
    background: #f9fbf8;
    padding: 9px;
    width: 35px;
    text-align: center;
}
.top-bar::after{
    content: '';
    clear: both;
}
.progress-bar-container{
    margin-top: 5px;
    background-color: #ddd;
    height: 10px;
    width: 100px;
    overflow: hidden;
    border-radius: 2px;
    float: right;
    position: absolute;
}
.progress-bar{
    background-color: #444444;
    width: 100px;
    height: 10px;
    display: block;
}
.progress-bar-9{
    background-color: #444444;
    width: 90px;
    height: 10px;
    display: block;
}
.progress-bar-8{
    background-color: #444444;
    width: 80px;
    height: 10px;
    display: block;
}
.progress-bar-7{
    background-color: #444444;
    width: 70px;
    height: 10px;
    display: block;
}
.progress-bar-6{
    background-color: #444444;
    width: 60px;
    height: 10px;
    display: block;
}
.progress-bar-5{
    background-color: #444444;
    width: 50px;
    height: 10px;
    display: block;
}
.progress-bar-4{
    background-color: #444444;
    width: 40px;
    height: 10px;
    display: block;
}
.skills  .fab{
    color: #666;
    text-align: center;
    font-size: 96px;
}
.skills img{
    opacity: 0.6;
}



/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@media(max-width:990px){
    .about{
        padding: 20px;
    }
    .skills{
        padding: 20px;
    }
    @media(max-width:320px){

        .skills{
            display: none;
        }
}